<section class="section is-small">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="img-container">
                <div class="loading" *ngIf="loading"></div>
                <img src="{{pokemon.sprites.front_default}}" class="avatar" alt="Image" *ngIf="pokemon">
                <img src="assets/images/missingno.png" class="avatar" alt="Image" *ngIf="isMissingPokemon">
              </figure>
            </div>

            <div class="media-content">
              <div class="content">
                <p><strong>Name: </strong>{{user.name}}</p>
                <p><strong>Role: </strong>{{user.role}}</p>
                <p><strong>Pokemon: </strong>{{user.pokemon}}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>